BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 140
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
